{% extends 'base.html.twig' %}

{% block title %}Ajout de calculatrice{% endblock %}

{% block body %}
<section class="container px-4">
    <div class="w-50 m-auto">
        <h1>Ajout de calculatrice</h1>
        {{ form_start(form) }}
        {{ form_row(form.model, {label: 'MARQUE Modèle'}) }}
        {{ form_row(form.note, {label: 'Remarque'}) }}
        {{ form_row(form.status, {label: 'Statut'}) }}
        <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(form) }}
    </div>
</section>
{% endblock %}
