{% extends 'base.html.twig' %}

{% set action = app.current_route == 'app_admin_calculator_new' ? 'ajout' : 'édition' %}

{% block title %}calculatrice - {{ action }}{% endblock %}

{% block body %}
<section class="container px-4">
    <div class="w-50 m-auto">
        {% if (app.current_route == 'app_admin_calculator_new') %}
        <div class="alert alert-primary">
            Marquer <strong>#{{ '%03d'|format(nextId) }}</strong>
            dans le compartiment piles de cette calculatrice.
        </div>
        {% endif %}
        <h1>Calculatrice: {{ action }}</h1>
        {{ form_start(form) }}
        {{ form_row(form.model, {label: 'MARQUE Modèle'}) }}
        {{ form_row(form.note, {label: 'Commentaire éventuel'}) }}
        {{ form_row(form.status, {label: 'Statut'}) }}
        <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(form) }}
    </div>
</section>
{% endblock %}
